{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <title>Products</title>
    <h1>Products</h1>
    <img src="{% static 'images/pampers.jpg' %}" alt="Pampers">
    <h2>Baby Pampers</h2>
    <p>29.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/baby_bottle.jpg' %}" alt="BabyBottle">
    <h2>Baby Bottle</h2>
    <p>9.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/baby_pacifier.jpg' %}" alt="Baby Pacifier">
    <h2>Baby Pacifier</h2>
    <p>6.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/boy_set.jpg' %}" alt="BoySet">
    <h2>Boy Set</h2>
    <p>24.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/girl_dress.jpg' %}" alt="GirlDress">
    <h2>Girl Dress</h2>
    <p>29.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/baby_chair.jpg' %}" alt="BabyChair">
    <h2>Baby Chair</h2>
    <p>239.99 lv. <button>Add To Cart</button></p>

    <img src="{% static 'images/baby_electric_swing.jpg' %}" alt="BabyElectricSwing">
    <h2>Baby Electric Swing</h2>
    <p>349.99 lv. <button>Add To Cart</button></p>
    {% if products %}
    <ul>
        {% for product in products %}
            <li>{{ product.product_image }}</li>
            <li>{{ product.product_name }}</li>
            <li>${{ product.price }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}