<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'view_cart' %}">Cart</a>
    </nav>

    <h1>Welcome to the Baby Shop!</h1>
    <p>Explore our collection of baby products.</p>


</body>
</html>