{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <style>
          h1, p{
              text-align: center;
              font-size: 50px;
          }

          img{
              width: 700px;
              height: 500px;
              display: block;
              margin: auto;
          }
          .main-content{
              margin: 50px;
              background-color: navajowhite;
          }

    </style>
<div class="main-content">
    <h1>Welcome to the Baby Shop!</h1>
    <p>Explore our collection of baby products.</p>
    <img src="{% static 'images/baby_shop_logo.jpg' %}">

</div>
{% endblock %}


</body>
</html>
