{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="not-found-img">
        <img src="{% static 'images/giphy.webp' %}" alt="404 not found gif">
    </div>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="common/index.html">
            <button>Return to Home Page</button>
        </a>
    </div>
{% endblock %}