{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/baby_shop_logo.jpg' %}">
    <title>BabyShop</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        form button{
            background-color: #333333;
            color: white;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;

        }
    </style>
</head>
<body>
    {% if request.user.is_authenticated %}
     <nav>
        <a href="{% url 'index' %}">Home Page</a>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'view_cart' %}">Cart</a>
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
        </form>
    </nav>
    {% else %}
    <nav>
        <a href="{% url 'index' %}">Home Page</a>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    </nav>
    {% endif %}
<main>
    {% block main_content %}
    {% endblock %}
</main>

<div class="footer">
		<span class="footer-section">
            Contacts:
            +359 88 6741523
            babyshop@info.com
			© 2024 Baby Shop Website
		</span>
</div>

</body>
</html>
